<div class="h-screen w-full flex flex-col">
	<div class="flex-1 overflow-auto">
		<p-table #dataTable [columns]="tableConfig.columns" [value]="people" [tableStyle]="{'width': '100%'}"
			showGridlines stripedRows [globalFilterFields]="globalSearchFields" selectionMode="multiple"
			[(selection)]="selectedPersons" dataKey="id" (onRowSelect)="onRowSelect($event)"
			(onRowUnselect)="onRowUnselect($event)" [scrollable]="true" scrollHeight="flex" [paginator]="true"
			[rows]="20" [rowsPerPageOptions]="[20, 50, 100]" [showCurrentPageReport]="true"
			currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
			<ng-template #caption>
				<div class="flex items-center justify-between">
					<p-iconfield class="w-80">
						<input class="input" type="text" pInputText placeholder="Search (Name, Email)"
							[(ngModel)]="searchValue" (input)="onGlobalFilter(dataTable, $event)" />
						<p-inputicon styleClass="pi pi-search" />
					</p-iconfield>
					<div class="flex gap-4 items-center">
						<p-button icon="pi pi-refresh" label="Refresh Database" severity="warn"
							(click)="refreshDatabase()" />
						<p-button icon="pi pi-plus" label="Add User" (click)="toggleAddEditForm = true" />
						<p-button icon="pi pi-sign-out" label="Logout" severity="danger" (click)="logout()" />
					</div>
				</div>
			</ng-template>
			<ng-template #header let-columns>
				<tr>
					<th style="width: 4rem"><p-tableHeaderCheckbox /></th>
					@for (col of columns; track $index) {
					<th class="text-center" [ngStyle]="col?.width ? { 'min-width': col.width } : {'min-width': '170px'}"
						[pSortableColumn]="col.field">
						{{ col.header }}
						@if(col.sort) {
						<p-sortIcon [field]="col.field" />
						}
						@if(col.filter) {
						<p-columnFilter type="text" [field]="col.field" [placeholder]="col.header" display="menu"
							matchMode="contains" />
						}
					</th>
					}
				</tr>
			</ng-template>
			<ng-template #body let-person let-rowIndex="rowIndex">
				<tr [pSelectableRow]="person" [pSelectableRowIndex]="rowIndex" (dblclick)="onRowDblClick(person)	">
					<td> <p-tableCheckbox [value]="person" /> </td>
					@for (item of tableConfig.columns; track $index) {
					@if (item.field === "action") {
					<td>
						<div class="w-fit mx-auto my-0 d-flex gap-2">
							@for (item of person.action; track $index) {
							<p-button [icon]="item.iconClass" [rounded]="true" [text]="true" [pTooltip]="item.tooltip"
								tooltipPosition="bottom" [class]="item.styleClass" class="action-button"
								(click)="onActionClick(person, item.action)" />
							}
						</div>
					</td>
					} @else if (item.field === "fullName") {
					<td> {{person[item.field]}} </td>
					} @else if (item.field === "status") {
					<td>
						<p-tag [value]="person[item.field] | capitalize" [severity]="person[item.field] === 'active' ? 'success': 
													person[item.field] === 'inactive' ? 'danger' :
													person[item.field] === 'pending' ? 'info' : undefined ">
						</p-tag>
					</td>
					} @else {
					<td>{{ person[item.field] | capitalize}}</td>
					}
					}
				</tr>
			</ng-template>
		</p-table>
	</div>
	<footer>
		<div class="bg-slate-800 h-8 text-lg text-center text-gray-100 dark:bg-zinc-800">
			Made with <span class="animate-pulse">❤️</span> by
			<a target="_blank" href="https://pbhargesh82.netlify.app/home"
				class="font-bold underline underline-offset-4">Bhargesh Patel</a>
		</div>
	</footer>
</div>

@if(toggleAddEditForm) {
<p-drawer styleClass="!w-3/4" [(visible)]="toggleAddEditForm" [header]="isEdit ? 'Edit Person' : 'Add Person'"
	[position]="'right'" (onHide)="hideAddEditForm()">
	<app-add-edit-form [selectedPerson]="selectedPerson" (closeEventEmitter)="hideAddEditForm()"
		(saveEventEmitter)="onSave($event)"> </app-add-edit-form>
</p-drawer>
}

<p-dialog appendTo="body" header="Welcome to the CRUD Application" [modal]="true" [(visible)]="showIntro"
	[style]="{ width: '70dvw' }" [draggable]="false" [resizable]="false" [showHeader]="false"
	(onHide)="showIntro = false">
	<div class="p-4">
		<p class="text-justify mb-3">
			This application is a part of my personal portfolio, built using <strong>Angular 19</strong>. It
			demonstrates my skills in implementing Create, Read, Update, and Delete (CRUD) operations with modern web
			technologies.
		</p>
		<p class="text-justify mb-3">
			For storing and managing data, I’ve utilized <strong>IndexedDB</strong>, which allows efficient,
			browser-based storage with offline capabilities. This eliminates the need for a backend server while
			ensuring a seamless user experience.
		</p>
		<p class="text-justify mb-3">
			I’ve designed the user interface using <strong>PrimeNG</strong>, a powerful UI library for Angular, to
			create a responsive and visually appealing application. The rich set of components from PrimeNG enhances
			usability and simplifies the development process.
		</p>
		<p class="text-justify">
			This project is a testament to my expertise in building client-side applications and integrating Angular
			with IndexedDB and PrimeNG. I hope you find this application intuitive and well-crafted as part of my
			portfolio.
		</p>
	</div>
</p-dialog>


<p-confirmDialog />